.app {
    display: flex;
    height: 100vh;
}

/*.sidebar {*/
/*    !* 其他侧边栏样式 *!*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}

/*.main-content {*/
/*    flex-grow: 1;*/
/*    transition: margin-left 0.3s ease-in-out;*/
/*}*/

.main-content.sidebar-open {
    margin-left: 150px; /* 假设侧边栏宽度为250px */
}
